[data-mb-slidemenu] {
    position: fixed;
    top: 0;
    left: var(--menu-left-position);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: var(--menu-padding);
    transform: var(--menu-hidden-transform);
    transition: transform .5s;
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    z-index: 10000;

    &.show {
        transform: var(--menu-show-transform);
    }

    &.d-none{
        display: none!important;
    }

    @media (min-width: 400px) {
        width: 400px;
    }

    >* {
        list-style: none;
        display: block;
        background-color: var(--item-background-color);
        color: var(--item-text-color);
        padding: var(--item-padding);
        margin: var(--item-margin);
        text-decoration: none;
        font-weight: 300;
        font-size: var(--item-font-size);
        position: relative;

        &:hover,
        &.active {
            text-decoration: none;
            color: var(--item-hover-text-color);

            &::after {
                background-color: var(--item-text-color);
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: var(--item-hover-after-left);
                right: var(--item-hover-after-right);
                width: 0.25rem;
                height: 100%;
            }
        }
        &.active {
            pointer-events: none;
            * {
                pointer-events: none;
            }
        }
    }

    .menu-close {
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: transparent;
        z-index: 10;
        cursor: pointer;

        &:before,
        &:after {
            content: '';
            width: 80%;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            background: var(--item-text-color);
        }

        &:before {
            -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &:after {
            -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }


}