[data-mb-slidemenu] {
    --background-color: rgba(0,0,0,0.5);
    --menu-padding: 1.5rem 0;
    --item-padding: .70rem 1rem;
    --item-text-color: #fafafa;
    --item-background-color: transparent;
    --item-hover-text-color: #fff;
    --item-hover-background-color: rgba(0,0,0,0.2);
    --item-font-size: 1.5rem;
}
