[data-mb-slidemenu] {
    --background-color: rgba(255,255,255,.6);
    --menu-padding: 1.5rem 0;
    --menu-hidden-transform: translateX(-100%);
    --menu-show-transform: translateX(0);
    --menu-left-position: 0;
    --menu-right-position: auto;
    --item-padding: .50rem 1rem;
    --item-margin: 0.10rem;
    --item-text-color: rgba(0,0,0,.6);
    --item-background-color: transparent;
    --item-hover-text-color: rgba(0,0,0,1);
    --item-hover-background-color: transparent;
    --item-font-size: 1.5rem;
    --item-hover-after-left: 0;
    --item-hover-after-right: auto;
}
